body {
    margin: 0px, 50px;
    text-align: center;
    background-color: azure;
}

table {
    margin: auto;
}

.text-decoration-none-text-color-black-opacity-75 {
    text-decoration: none;
    color: black;
    opacity: 75%;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 240px;
    overflow: hidden;
    border: solid 1px black;
    border-radius: 30px;
    background-color: white;
}

td img {
    width: 80%;
}

.phone-description {
    width: 500px;
    padding: 20px;
} 
